@using BIWebApp.Helpers

<h2>Custom HTML Helper Example</h2>

<div>
    @Html.BootstrapButton("Click Me", "success", "/Tag/Success")
    @Html.BootstrapButton("Delete", "danger", "/Tag/Danger")
</div>