@using System.Text.Json;

@{
    ViewData["Title"] = "Sales Bar Chart";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <h3>Sales Dashboard</h3>
    <p>Here are the sales data visualizations:</p>
    <div class="col-md-6">
        <h3>Sales Bar Chart</h3>
        <canvas id="salesBarChart"></canvas>
    </div>
    <div class="col-md-6">
        <h3>Sales Pie Chart</h3>
        <canvas id="salesPieChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<!-- Dynamic HTML  Rendnering  at client Side-->
<script>

    const salesData1 = {
    labels: ['Total Sales', 'Revenue', 'Cost', 'Profit', 'Units Sold', 'Returns'], // Labels for the bars
    datasets: [{
    label: 'Sales Data',
    data: '@JsonSerializer.Serialize(ViewData["data1"])',
    backgroundColor: ['rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)'],
            borderColor: ['rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)'],
            borderWidth: 1
        }]
    };

    const salesData2 = {
        labels: ['Total Sales', 'Revenue', 'Cost', 'Profit', 'Units Sold', 'Returns'], // Labels for the bars
        datasets: [{
            label: 'Sales Data',
            data: '@JsonSerializer.Serialize(ViewData["data2"])',
            backgroundColor: ['rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)'],
            borderColor: ['rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)'],
            borderWidth: 1
        }]
    };


    // Configuration for the chart JSON Object

       const config1 = {
           type: 'bar',
           data: salesData1,
           options: {
               scales: {
                   y: {
                       beginAtZero: true
                   }
               }
           }
       };


        const config2 = {
           type: 'pie',
           data: salesData2,
           options: {
               scales: {
                   y: {
                       beginAtZero: true
                   }
               }
           }
       };

      // Create the charts
      // Get the context of the canvas element we want to select
      // and create a new Chart instance
       const ctx1 = document.getElementById('salesBarChart').getContext('2d');
       new Chart(ctx1, config1);

      const ctx2 = document.getElementById('salesPieChart').getContext('2d');
       new Chart(ctx2, config2);
       
</script>