
@{
    ViewData["Title"] = "Contactus";
}

<h1>Contactus</h1>

<p>Transflower  Learning Pvt. Ltd.</p>
<p>Mentor as a Service</p>
<p>Phone: 123-456-7890</p>

<ol>
    <li>Monday to Friday: 9:00 AM to 5:00 PM</li>
    <li>Saturday: 10:00 AM to 2:00 PM</li>
    <li>Sunday: Closed</li>
</ol>

