@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <p>Unique Shopping Expereince for each potential customer</p>
    <p>Our mission is to provide the best shopping experience to our customers. </p>


    <hr/>
    Message: @ViewBag.theMessage

    <hr/>
    <p>Customer Details:</p>
    <p>First Name: @ViewBag.thePerson.FirstName</p>
    <p>Last Name: @ViewBag.thePerson.LastName</p>
    <p>Age: @ViewBag.thePerson.Age</p>



</div>
