<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MathEngineSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:44719/MathEngine.asmx" binding="basicHttpBinding"
                bindingConfiguration="MathEngineSoap" contract="ServiceReference1.MathEngineSoap"
                name="MathEngineSoap" />
        </client>
    </system.serviceModel>
</configuration>