
@{
    ViewData["Title"] = "Contactus";
}

<h1>Contactus</h1>

<form    method="post" action="contactus">
    <table>
        <tr>
            <td>
                <label for="name">Name:</label>
            </td>
            <td>
                <input type="text" id="name" name="name" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="email">Email:</label>
            </td>
            <td>
                <input type="text" id="email" name="email" />
            </td>

        </tr>
        <tr>
            <td>
                <label for="contactnumber">contact:</label>
            </td>
            <td>
                <input id="contactnumber" name="contactnumber" />
            </td>
        </tr>
         <tr>
            <td 
            </td>
            <td>
                <input type="submit" value="Submit" />
            </td>
        </tr>
    </table>
</form>
