@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
    <div class="col-4">
        <h4>TreeView</h4>
        <ul id="treeView">
            @foreach (var node in Model)
            {
                <li>
                    <a href="#" class="tree-node" data-id="@node.Id">@node.Name</a>
                </li>
            }
        </ul>
    </div>

    <div class="col-8">
        <h4>ListView (Details)</h4>
        <table class="table">
            <thead>
                <tr><th>ID</th><th>Name</th></tr>
            </thead>
            <tbody id="listViewBody">
                <tr><td colspan="2">Select a tree node to view details</td></tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        document.querySelectorAll('.tree-node').forEach(node => {
            node.addEventListener('click', function (e) {
                e.preventDefault();
                const nodeId = this.getAttribute('data-id');
                console.log(nodeId);
                var apiUrl="/dashboard/getitems/"+ nodeId;

                //fetch external api to retrive data from Controller
                //jQuery Ajax  
                fetch(apiUrl)
                    .then(response => response.json())
                    .then(data => {
                        const tbody = document.getElementById('listViewBody');
                        tbody.innerHTML = '';
                        if (data.length === 0) {
                            tbody.innerHTML = '<tr><td colspan="2">No items found</td></tr>';
                        } else {
                            data.forEach(item => {
                                tbody.innerHTML += `<tr><td>${item.id}</td><td>${item.name}</td></tr>`;
                            });
                        }
                    });
            });
        });
    </script>
}