@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to Transflower Cache Demo</h1>
    <p>  Current Time: @ViewData["Timestamp"]</p>
    <p> This page is cached for 30 seconds</p>
</div>
