@model IEnumerable<dynamic>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var order in Model)
        {
            <li>Order ID: @order.OrderId, Product: @order.Product, Price: $@order.Price</li>
        }
    </ul>
}
else
{
    <p>No recent orders available.</p>
}